#header {
  background-color: var(--gray);
  border: .1px solid var(--white);
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 65px;
  gap: 15px;
  margin-bottom: 50px;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }

  .header-item {
    width: 100px;

    text-align: center;
    border-radius: 100px;

    &:hover {
      background: var(--black);
    }

    &.active {
      background: var(--green);
    }
  }
}