@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #1f1f1f;
  --black: #0E0E0E;
  --green: #28E98C;
  --white: #FFFFFF;
}


body {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px 150px;
  min-height: 100vh;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
